:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(from 180deg at 50% 50%,
            #16abff33 0deg,
            #0885ff33 55deg,
            #54d6ff33 120deg,
            #0071ff33 160deg,
            transparent 360deg);
    --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0));

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(#00000080,
            #00000040,
            #00000030,
            #00000020,
            #00000010,
            #00000010,
            #00000080);

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
        --secondary-glow: linear-gradient(to bottom right,
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0.3));

        --tile-start-rgb: 2, 13, 46;
        --tile-end-rgb: 2, 5, 19;
        --tile-border: conic-gradient(#ffffff80,
                #ffffff40,
                #ffffff30,
                #ffffff20,
                #ffffff10,
                #ffffff10,
                #ffffff80);

        --callout-rgb: 20, 20, 20;
        --callout-border-rgb: 108, 108, 108;
        --card-rgb: 100, 100, 100;
        --card-border-rgb: 200, 200, 200;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: "#FFF";
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

/* ProductForm.css */

.product-form {
    max-width: 95%;
    margin: auto;
    display: block;
    margin-top: 14px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Customize the file input to look better */
input[type="file"] {
    display: none;
}

.file-upload-container {
    display: flex;
    align-items: center;
}

.file-upload-label {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Add some spacing for the Quill editor */
.ql-editor {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style the form to be centered and have some spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: #fff !important;
    font-size: 12px;
    height: 100%;
}

.row.header {
    align-items: center;
}

._24B_AU._1AQnZC img {
    text-align: right;
    float: right;
}

.carousel-indicators [data-bs-target] {
    background-color: #0a2885 !important;
}

#container {
    min-height: 100vh;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

._1FWdmb .Z4_K_h ._31Y9yB {
    transition: -webkit-filter 0.3s ease-out;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder {
    color: #c8c7c2;
}

._2dxSCm ._1eMB9R::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: -0.2px;
}

::-webkit-scrollbar {
    width: 0;
    background: 0 0;
}

._3UIa49 {
    background: -webkit-linear-gradient(right, #2874f0, #689df4);
}

::-webkit-scrollbar {
    display: none;
}

._1FWdmb {
    font-size: 16px;
    color: #eaeaea;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 52px;
    transition: background-color 0.3s ease-out;
}

._1FWdmb ._3NH1qf {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 42px;
    line-height: 10px;
    position: relative;
    overflow: hidden;
}

._1FWdmb .Z4_K_h {
    display: table-cell;
    vertical-align: middle;
    height: 28px;
    overflow: hidden;
    line-height: 10px;
    max-width: 111px;
    padding-top: 2px;
    position: relative;
}

._1FWdmb .Z4_K_h ._31Y9yB {
    max-height: 30px;
    transition: -webkit-filter 0.3s ease-out;
}

._1FWdmb ._3QNhdh {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 10px;
}

._1FWdmb ._3QNhdh ._2WBW6z {
    text-align: left;
    padding-left: 12px;
}

._1FWdmb ._2tVMo0 {
    background: #d32f2f;
    border-radius: 50%;
    color: #fff;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 8px;
    text-align: center;
    line-height: 12.5px;
    border: 2px solid #fff;
}

._31rzHu {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(40, 116, 240, 0.95);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

._31rzHu ._1Gf-tJ {
    top: 16%;
    position: absolute;
    transform: translateX(-50%);
    width: 85%;
    align-items: center;
    left: 50%;
}

._31rzHu ._1Gf-tJ ._2wxxo3 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 12px;
    color: #fff;
}

._31rzHu ._1Gf-tJ ._3zjmm_ {
    font-size: 14px;
    line-height: 18px;
}

._31rzHu ._1Gf-tJ ._3zjmm_ ._6BYRdm {
    vertical-align: middle;
    padding: 0 5px;
}

input {
    background: #fff;
}

._31rzHu ._1Gf-tJ ._2PfOqy {
    display: inline-block;
    background: #fff;
    padding: 10px 20px;
    border-radius: 2px;
    margin-top: 21px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #565656;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder {
    color: #c8c7c2;
}

._1s54Jm {
    background-color: #fff;
    border: 0;
    outline: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    line-height: 14px;
}

.btn-sale-is-live {
    background: #ffffff;
    color: RED;
    padding: 10px 12px;
    font-size: 12px;
    border-radius: 4px;
    text-transform: inherit;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 2px 0;
}

._1wQXWE {
    position: fixed;
    height: 120%;
    top: 0;
    left: 0;
    z-index: 10;
}

._1wQXWE,
._1wQXWE ._3NNPRA {
    width: 100%;
    pointer-events: none;
}

._1wQXWE ._3NNPRA {
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    will-change: opacity;
}

._1wQXWE ._1YW0Vg {
    display: flex;
    flex-direction: column;
}

._1wQXWE .NLH8Sf {
    background: #fff;
    position: fixed;
    width: 75%;
    height: 120%;
    top: 0;
    left: 0;
    transform: translate3d(-102%, 0, 0);
    will-change: transform;
    box-shadow: 3px 0 8px 1px rgba(0, 0, 0, 0.4);
}

._1wQXWE .NLH8Sf .ezDLVG {
    display: flex;
    align-items: center;
    background: linear-gradient(30deg, #2874f0, #0065c5);
    height: 60px;
}

._1wQXWE .NLH8Sf .ezDLVG .Xv3JXt {
    table-layout: fixed;
}

._1wQXWE .NLH8Sf .ezDLVG ._1N4Gn8 {
    margin-left: 12px;
    width: 15px;
    height: 15px;
}

._1wQXWE .NLH8Sf .ezDLVG .LuA1IN {
    width: 75%;
    margin-left: 20px;
    font-size: 16px;
    align-self: flex-end;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;
}

._1wQXWE .NLH8Sf .ezDLVG ._2yJavz {
    vertical-align: middle;
    margin-right: 15px;
}

._1wQXWE .NLH8Sf .ezDLVG ._2IiByI {
    display: flex;
    align-items: center;
}

._1wQXWE .NLH8Sf .neEAPi {
    overflow-y: auto;
}

._1wQXWE .NLH8Sf ._4mBcWB {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
}

._1wQXWE .NLH8Sf ._4mBcWB .TcEsyJ {
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #262626;
}

._1wQXWE .NLH8Sf ._4mBcWB .TcEsyJ .J-Efh8 {
    display: flex;
    align-items: center;
    color: #414141;
}

._1wQXWE .NLH8Sf ._4mBcWB:last-child {
    margin: 0;
    padding: 0;
    border-bottom: 0;
}

._1wQXWE .NLH8Sf ._4mBcWB:last-child .TcEsyJ {
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #262626;
}

._1wQXWE ._2VpmuG {
    margin-left: 12px;
}

._2dxSCm {
    width: 100%;
}

._2dxSCm ._38U37R {
    top: 0;
    width: 100%;
    z-index: 2;
    will-change: opacity;
    position: relative;
}

._2dxSCm .ORogdv {
    width: 100%;
    will-change: opacity;
}

._2dxSCm .ORogdv ._1k9EoO ._3hNQUi {
    width: 100%;
    min-width: 31%;
    transform: scale(1);
    z-index: 1;
}

._2dxSCm .ORogdv ._1k9EoO ._2d36Hu {
    width: 95%;
    z-index: 2;
    padding-bottom: 10px;
    margin: auto;
}

._2dxSCm ._1iFrUM {
    width: 100%;
    height: 55px;
    display: table;
    table-layout: fixed;
    z-index: 2;
    position: fixed;
    top: 0;
    padding: 10px 0;
    will-change: transform;
    transition: transform 0.25s ease-out;
}

._2dxSCm ._1iFrUM ._1iILZ2 {
    color: #fff;
    width: 10%;
    max-width: 48px;
    overflow: hidden;
}

._2dxSCm ._1iFrUM ._1iILZ2,
._2dxSCm ._1iFrUM ._3vO4US {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

._2dxSCm ._1iFrUM ._3vO4US {
    width: 80%;
}

._2dxSCm .search-div {
    width: 100%;
    height: 40px;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #777;
    display: inline-block;
    text-align: left;
    opacity: 1;
    vertical-align: middle;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
    line-height: 40px;
    border: 0;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._2dxSCm ._1eMB9R {
    width: 100%;
    height: 38px;
    padding-left: 36px;
    font-size: 14px;
    border: 0;
    outline: 0;
}

._2dxSCm ._1eMB9R::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: -0.2px;
}

._2dxSCm ._2Eo--l:before,
._2dxSCm .search-div:before {
    position: absolute;
    content: " ";
    height: 16px;
    width: 16px;
    left: 10px;
    top: 12px;
}

._2dxSCm .search-div:before {
    /* background: url('../images/theme/search.svg'); */
}

._2dxSCm ._3lqN6b {
    border-radius: 2px 2px 0 0;
    margin: auto;
    position: relative;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.WhKF32 .IF3BzC {
    min-height: 101vh;
}

._2GaeWJ {
    position: relative;
    margin: auto;
    min-width: inherit;
    min-height: inherit;
}

._2GaeWJ ._2puWtW {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s linear;
}

._2GaeWJ ._2puWtW._3a3qyb {
    opacity: 1;
}

._2UX-zz {
    flex: 1;
    display: block;
    position: relative;
}

.-LqSIK {
    border-spacing: 0;
    table-layout: fixed;
    border-collapse: collapse;
}

.product-details img {
    width: auto !important;
    max-width: 100%;
}

.-LqSIK .Cs7ycL {
    width: 50%;
    position: relative;
    vertical-align: middle;
    padding: 2px;
}

._3xlpeR {
    margin: auto;
    width: 100%;
    transform: translateY(8px);
    border-radius: 2px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.16);
}

._1fhgRH {
    display: block;
    width: 100%;
    background: #fff;
    padding-bottom: 1px;
}

._1fhgRH .vMNvBz {
    padding: 0;
}

._1QM2o6 {
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.16);
}

._1isCBQ {
    margin-bottom: 24px;
}

._2rW-uM {
    -webkit-animation: Jzh4Md 0.3s linear;
    animation: Jzh4Md 0.3s linear;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    padding: 16px;
    overflow: hidden;
    background-repeat: no-repeat;
    display: block;
}

._2rW-uM ._3LrtWH {
    align-self: center;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
}

._2rW-uM ._3QuZpZ {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    margin-right: 4px;
}

.dod-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

._2rW-uM .dod-label {
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._2rW-uM ._3Nxu4r {
    margin-left: auto;
}

.delivery-txt {
    margin-top: 10px;
    font-size: 12px;
}

._2rW-uM ._1J8KR1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

._3sgvr0 {
    border: 0;
}

._1cVt6K {
    padding-bottom: 4px;
}

._1CXxjX {
    padding: 14px;
    color: #2873ee;
}

._2mmD4F {
    opacity: 0.8;
}

._1dZamR {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    display: flex;
    align-items: center;
}

._1dZamR ._29lYyb {
    margin-right: 5px;
    height: 16px;
    width: 16px;
}

._2enssu {
    position: relative;
    overflow: hidden;
    padding: 16px;
    display: block;
    border: 1px solid #f0f0f0;
    background: #fff;
}

._2enssu ._3LXIRu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

._2enssu ._24B_AU {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-align: left;
    margin-top: 15px;
}

._2enssu ._3SexMn {
    font-size: 14px;
    color: #262626;
}

._2enssu ._1AQnZC {
    font-size: 14px;
    color: #388e3c;
    margin-top: 8px;
}

.mrp {
    text-decoration: line-through;
    color: #9a9a9a;
    margin: 0 5px;
}

.selling-price {
    font-size: 14px;
    color: #000;
    margin-right: 5px;
}

html {
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border: 0 !important;
    border-radius: 10px;
    list-style: none;
}

/* ------------------ Loader ------------------ */
/*  */

/* ------------------ Loader ------------------ */

.product-slider {
    position: relative;
}

.product-slider img {
    width: 100%;
    height: auto;
    /* height: 350px; */
    /* width: auto !important; */
    /* margin: 0 auto; */
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
}

.offer-badge {
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 15px;
    font-size: 15px;
    border-radius: 100%;
    z-index: 1;
    color: #fff;
    background: #b12704;
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
}

.share-icon {
    width: 36px;
    height: 36px;
    display: block;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url(../../img/share.png); */
    background-size: 24px 24px;
    border-radius: 18px;
    position: absolute;
    right: 0;
    border: 1px solid #eee;
    padding: 24px;
    border-radius: 50%;
    z-index: 1;
    top: 60px;
}

.love-icon {
    width: 36px;
    height: 36px;
    display: block;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url(../../img/love.png); */
    background-size: 24px 24px;
    border-radius: 18px;
    position: absolute;
    right: 0;
    border: 1px solid #eee;
    padding: 24px;
    border-radius: 50%;
    z-index: 1;
}

.carousel-indicators li {
    background-color: #aaa !important;
}

.product-title {
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-align: left;
    margin-top: 15px;
    font-size: 14px;
    color: rgb(0, 113, 133);
    font-weight: 700;
}

.product-price {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.02px;
    line-height: 28px;
}

.product-price .discount {
    color: rgb(3, 177, 3);
    margin-right: 10px;
}

.product-price .mrp {
    text-decoration-line: line-through;
    color: rgb(255, 0, 0);
    margin-right: 10px;
}

.product-price .price {
    color: rgb(0, 0, 0);
    margin-right: 10px;
}

.offer-timer {
    color: rgb(199, 0, 85);
}

.feature-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.feature-container .featured-item:nth-child(1) .featured-img {
    width: 30px;
    height: 30px;
}

.feature-container .featured-item:nth-child(2) .featured-img {
    width: 30px;
    height: 30px;
}

.feature-container .featured-item:nth-child(3) .featured-img {
    width: 80px;
}

.feature-container .feature-title {
    line-height: 16px;
    letter-spacing: 0.3px;
    color: rgb(17, 17, 18);
    font-size: 12px;
    text-align: center;
}

.txt-product-detail {
    margin: 0;
    text-align: left;
}

.flex {
    display: flex !important;
}

.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -4px 3px 7px #bdbbbb;
}

.buynow-button {
    background: #ffc200;
    display: block;
    color: #000;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid #ffc200;
    font-size: 14px;
    padding: 6px 9px;
}

.buynow-button-white {
    background: #fff;
    display: block;
    color: black;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid #ffc200;
    font-size: 14px;
    padding: 6px 9px;
    border: none !important;
}

.product-page-buy {
    width: 100%;
    height: 50px;
    border: 1px solid #ffc200;
}

.btn-continue {
    width: 170px !important;
    height: 40px !important;
}

.color-div h4 {
    text-align: left;
    margin-left: 10px;
    font-weight: 600;
}

.color-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.color-div .color-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 10px;
    width: 100px;
    justify-content: flex-end;
}

.color-div .color-item.active {
    border-color: #367dfb;
    box-shadow: 1px 1px 4px 0px #367dfb78;
}

.color-div img {
    max-height: 90px;
    padding: 10px;
    /* max-width: 100%; */
    height: unset;
    width: 100% !important;
    object-fit: cover;
}

.color-div .color-name {
    font-size: 14px;
    text-align: center;
}

.storage-div h4,
.size-div h4 {
    text-align: left;
    margin-left: 10px;
    font-weight: 600;
}

.storage-list,
.size-list {
    display: flex;
    flex-direction: row;
}

.storage-div .storage-item,
.size-div .size-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 10px;
}

.storage-div .storage-item.active,
.size-div .size-item.active {
    border-color: #367dfb;
    box-shadow: 1px 1px 4px 0px #367dfb78;
}

.storage-div .storage-name,
.size-div .size-name {
    font-size: 14px;
}

.common-button {
    background: rgb(251, 100, 27);
    position: relative;
    overflow: hidden;
    border-radius: 0.2rem;
    width: 100%;
    height: 50px;
    border: 1px solid #e88406;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.common-button:hover {
    color: #000;
    text-decoration: none;
}

/* Payment */
.recommended-product {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recommended-product img {
    width: 75px;
    height: auto;
}

.recommended-product .description {
    padding-left: 20px;
}

.recommended-product span.strike {
    text-decoration: line-through;
}

.recommended-product .qty,
.recommended-product span {
    font-size: 16px;
}

.recommended-product span.discount {
    color: #008c00;
}

.recommended-product span.mrp {
    color: #878787;
}

.recommended-product span.selling_price {
    font-weight: 600;
}

.strike {
    text-decoration: line-through;
}

.recommended-product .product-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    max-width: calc(100vw - 120px);
}

.recommended-product .product-detail {
    font-size: 12px;
    color: #878787;
}

.form-check {
    font-size: 20px;
    border: 1px solid #ccc;
    margin-bottom: 11px;
    border-radius: 10px;
}

.form-check.active {
    border-color: #367dfb;
}

.form-check input {
    height: 20px;
    width: 20px;
    border: 1px solid;
}

.form-check label.form-check-label {
    font-size: 23px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.form-check .form-check-label.input {
    margin-right: 10px;
}

span.unaviable {
    font-size: 18px;
    opacity: 0.5;
    margin-left: 10px;
    line-height: 31px;
}

.form-check.available-method span {
    font-size: 18px;
    margin-left: 13px;
}

.delivery-extra .line {
    margin-bottom: 10px;
}

.delivery-extra span {
    font-size: 20px;
}

.offerend-container {
    text-align: center;
    font-weight: bold;
    padding: 14px;
}

.offer-timer {
    color: rgb(251, 100, 27) !important;
}

.order-total {
    color: rgb(251, 100, 27) !important;
    font-weight: bold;
}

.pay-logo {
    max-width: 40px;
    padding: 0.5rem;
}

.list-group {
    text-decoration: none;
}

.product-details div {
    max-width: 100vw !important;
}

.product-details>div {
    padding: 0 !important;
}

.form-floating>.form-control,
.form-floating>.form-select,
.form-floating>.form-control-plaintext {
    padding: 10px 12px !important;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    transform: scale(0.85) translateY(-1rem) translateX(1.15rem) !important;
    background-color: #fff;
    padding: 0rem 0.75rem;
}

.form-floating .form-control,
.form-floating .form-select {
    font-size: 14px !important;
    border: 1px solid rgba(0, 0, 0, 0.24);
    height: 50px !important;
    min-height: auto;
    line-height: initial;
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown),
.form-floating>.form-select {
    box-shadow: none !important;
}

.form-floating>.form-control:focus,
.form-floating>.form-select {
    border: 1px solid #2874f0 !important;
}

.form-floating>label {
    font-size: 14px;
    font-family: Roboto, Droid Sans, Helvetica Neue, Arial, Helvetica, sans-serif;
    color: #878787;
    height: auto !important;
    padding: 14px;
}

.row .form-floating>label {
    left: 10px !important;
}

body {
    background: "#f1f2f4";
}

.progress-box {
    height: 56px;
    text-align: center;
    background: #fff;
    margin-bottom: 10px;
}

.card {
    --bs-border-color-translucent: rgba(0, 0, 0, 0.125) !important;
    --bs-border-radius: 0.25rem !important;
}

.sefty-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(241, 243, 246);
    padding: 15px 0;
}

.sefty-banner .sefty-img {
    object-fit: contain;
    display: flex;
    position: relative;
    width: 45px;
    height: 35px;
}

.sefty-banner .sefty-txt {
    color: rgb(113, 116, 120);
    font-weight: 600;
    letter-spacing: 0px;
    width: 230.822px;
}

.footer-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-price .selling_price {
    font-size: 16px;
}

.mb-70 {
    margin-bottom: 70px;
}

.product-price-list {
    display: flex;
    justify-content: space-between;
}

.product-price-list .mrp {
    text-decoration: none !important;
    color: initial !important;
}

.product-price-list .title,
.product-price-list .data {
    font-size: 14px;
}

.product-price-list .text-success {
    /* font-weight: 600; */
    color: #069e06 !important;
}

.product-price-list.total {
    border-top: 1px dashed #eee;
}

.product-price-list.saved-div {
    border-top: 1px solid #eee;
    font-size: 13px;
}

.svg-100 {
    padding-left: 2%;
}

.svg-100 svg {
    width: 100%;
}

/* styles/globals.css */

/* img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
} */
.upi-qr-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh !important;
}

.upi-qr-title {
    text-align: center;
    color: #333;
}

.upi-qr-details {
    margin-bottom: 20px;
}

.upi-qr-amount,
.upi-qr-upiid {
    margin: 5px 0;
}

.upi-qr-code {
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c9302c;
}

.error-message p {
    font-size: 15.5px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    background-color: #ffc200;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px !important;
    font-size: 13.75px !important;
    font-weight: 600;
}

button:hover {
    background-color: #ffc200;
    border-radius: 4px !important;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 80%;
}

*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

::after,
::before {
    --tw-content: "";
}

:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    line-height: inherit;
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button,
select {
    text-transform: none;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

:-moz-focusring {
    outline: auto;
}

:-moz-ui-invalid {
    box-shadow: none;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

dialog {
    padding: 0;
}

textarea {
    resize: vertical;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
}

[role="button"],
button {
    cursor: pointer;
}

:disabled {
    cursor: default;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}

[hidden] {
    display: none;
}

*,
::before,
::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}

.fixed {
    position: fixed;
}

.z-20 {
    z-index: 20;
}

.m-0 {
    margin: 0px;
}

.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mr-7 {
    margin-right: 1.75rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.box-border {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.h-8 {
    height: 2rem;
}

.h-9 {
    height: 2.25rem;
}

.h-full {
    height: 100%;
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content;
}

.w-full {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.space-x-12> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(3rem * var(--tw-space-x-reverse));
    margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-4> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-3xl {
    border-radius: 1.5rem;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-l-3xl {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.rounded-r-3xl {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.bg-\[\#0a2885\] {
    --tw-bg-opacity: 1;
    background-color: rgb(10 40 133 / var(--tw-bg-opacity));
}

.bg-blue-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.bg-blue-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 58 138 / var(--tw-bg-opacity));
}

.bg-slate-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.bg-slate-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.bg-slate-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-0 {
    padding: 0px;
}

.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-3\.5 {
    padding-left: 0.875rem;
    padding-right: 0.875rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.pb-8 {
    padding-bottom: 2rem;
}

.pl-4 {
    padding-left: 1rem;
}

.pt-14 {
    padding-top: 3.5rem;
}

.pt-6 {
    padding-top: 1.5rem;
}

.font-\[helvetica\] {
    font-family: helvetica;
}

.text-\[12px\] {
    font-size: 12px;
}

.text-\[14px\] {
    font-size: 14px;
}

.text-\[16px\] {
    font-size: 16px;
}

.text-\[20px\] {
    font-size: 20px;
}

.text-\[30px\] {
    font-size: 30px;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.font-bold {
    font-weight: 700;
}

.font-semibold {
    font-weight: 600;
}

.text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
}

.text-blue-700 {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity));
}

.text-slate-300 {
    --tw-text-opacity: 1;
    color: rgb(203 213 225 / var(--tw-text-opacity));
}

.text-slate-600 {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
}

.text-slate-800 {
    --tw-text-opacity: 1;
    color: rgb(30 41 59 / var(--tw-text-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.line-through {
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
}

.hover\:bg-blue-800:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(30 64 175 / var(--tw-bg-opacity));
}

.hover\:text-blue-300:hover {
    --tw-text-opacity: 1;
    color: rgb(147 197 253 / var(--tw-text-opacity));
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 1024px) {
    .lg\:block {
        display: block;
    }

    .lg\:hidden {
        display: none;
    }

    .lg\:justify-around {
        justify-content: space-around;
    }

    .lg\:space-x-10> :not([hidden])~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2.5rem * var(--tw-space-x-reverse));
        margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
    }

    .lg\:hover\:bg-blue-900:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(30 58 138 / var(--tw-bg-opacity));
    }
}

.dd-11x {
    padding: 8.2px !important;
    border: 1px solid #0c2d8b;
}

li a {
    font-size: 16px;
}

nav {
    top: 0 !important;
}

.css-1o8mmck {
    z-index: 1;
    height: 48px;
    background-color: rgb(231, 235, 248);
    padding: 12px 24px;
    top: 0px;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-1vpao16 .j-card {
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

.j-card__flex {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.css-jl6x1l {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.css-1kmq01c {
    --icon-color: var(--color-primary-60) !important;
}

.css-1kmq01c {
    --icon-color: var(--color-primary-60) !important;
}

.css-1lmrfbf {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.carousel-indicators {
    height: 8px !important;
}

.carousel-indicators .active {
    display: inline-block;
    opacity: 1;
}

.carousel-indicators button {
    width: 8px !important;
    height: 8px !important;
    margin-left: 0.7rem !important;
    border-radius: 50% !important;
    margin-top: 15px;
}

body {
    background: #f1f1f1 !important;
}